<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/application.scss">
</head>


<body>
  <div class="heroImage">
  	<div class="heroContents">
  		<h1>Welcome to the Virtual Market Place</h1>
  		<a href="market"><button >Shop Now</button></a>
  	</div>
  </div>
</body>


</html>
