<p id="notice"><%= notice %></p>

<h1>Checkout and buy this item</h1>

<br>

<h1>Card Details</h1>

<input name="Card Holder" placeholder="Card Holder">

<input name="Card Number" placeholder="Card Number">

<input name="Expiration Date" placeholder="Expiration Date">

<input name="CVC" placeholder="CVC">

<h1>Shipping Info</h1>

<input name="Street Address" placeholder="Street Address">

<input name="ZIP Code" placeholder="ZIP Code">

<input name="City" placeholder="City">

<input name="State" placeholder="State">

<h1></h1>

<%= link_to 'Checkout and go back to Listings', listings_path %>